$icomoon: 'icomoon';

@font-face {
  font-family: $icomoon;
  src:  url('/fonts/icomoon.eot?35g9dl');
  src:  url('/fonts/icomoon.eot?35g9dl#iefix') format('embedded-opentype'),
    url('/fonts/icomoon.ttf?35g9dl') format('truetype'),
    url('/fonts/icomoon.woff?35g9dl') format('woff'),
    url('/fonts/icomoon.svg?35g9dl#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-linkedin: "\e900";
$icon-envelope: "\e901";