:root {
  /* ----------------------------------------------------------------- */
  /* COLORS */
  /* ----------------------------------------------------------------- */

  --colorWhite: white;
  --colorGrey: #888888;
  --colorLightGrey: color-mix(in srgb, var(--colorGrey), white 30%);
}
