:root {
  /* ----------------------------------------------------------------- */
  /* SPACING */
  /* ----------------------------------------------------------------- */

  --spacing1: 11px;
  --spacing2: 22px;
  --spacing3: 44px;

  @media (max-width: 420px) {
    --spacing1: 8px;
    --spacing2: 16px;
    --spacing3: 32px;
  }
}
