:root {
  /* ----------------------------------------------------------------- */
  /* LAYOUT */
  /* ----------------------------------------------------------------- */

  --max-width: 1340px;
  --gutter: 22px;

  @media (width > 720px) {
    --gutter: 48px;
  }
}
