:root {
  /* ----------------------------------------------------------------- */
  /* TYPE */
  /* ----------------------------------------------------------------- */

  --font-family-display: "Berlin Type", system-ui, sans-serif;
  --font-family-mono: "JetBrains Mono", ui-monospace, monospace;

  /* `font` shorthands: font-size / line-height font-family */
  --font-mono-12px: var(--font-size-12px) / 1.5 var(--font-family-mono);
  --font-mono-14px: var(--font-size-14px) / 1.5 var(--font-family-mono);
  --font-mono-18px: var(--font-size-18px) / 1.5 var(--font-family-mono);

  --font-display-sm: var(--font-size-display-sm) / 1.5 var(--font-family-display);
  --font-display-md: var(--font-size-display-md) / 1.04 var(--font-family-display);
  --font-display-lg: var(--font-size-display-lg) / 1 var(--font-family-display);
  --font-display-xl: var(--font-size-display-xl) / 0.88 var(--font-family-display);
}
