.panel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;

    h1 {
        text-transform: uppercase;
    }

    &__inner {
        width: 45%;
    }
}