.panel {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: white;

    font-size: calc(14.05px + 0.52vw);

    h1 {
        text-transform: uppercase;
        font-weight: 500;
        font-size: 2.66em;
        color: white;
        mix-blend-mode: exclusion;
    }

    p {
        mix-blend-mode: exclusion;
        font-size: 1em;
    }

    &__inner {
        width: 55%;
        width: 85%;
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        mix-blend-mode: exclusion;
    }

    &__link {
        font-family: $icomoon;
        font-size: 2em;

        & + & {
            margin-left: 2vw;
        }

        &:after {
            display: block;
        }

        &--linkedin:after {
            content: $icon-linkedin;
        }

        &--email:after {
            content: $icon-envelope;
        }
    }
}