.container {
  background: var(--color-paper);
  width: 100%;
  overflow-x: clip;
  color: var(--color-ink);
}

.nav {
  @media (--width-gt-900px) {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
    width: 100%;
  }
}
