name: Push

on: push

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
      - name: Checking out git
        uses: actions/checkout@v5
      - name: Enable Corepack
        run: corepack enable
      - name: Setup node
        uses: actions/setup-node@v5
        with:
          node-version-file: "package.json"
          cache: "yarn"
      - name: Install Dependencies
        run: yarn install --frozen-lockfile
      - name: Lint
        run: yarn lint
      - name: Typecheck
        run: yarn typecheck
